@using AspNetCore.Core;
@model Book

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>@Model.Name</h3>
    </div>
    <div class="panel-body">
        <span>作者: @Model.Author</span>
    </div>
    <div class="panel-footer">
        <a class="btn btn-lg"
           asp-page="./Edit"
           asp-route-bookId="@Model.Id">
            <i class="glyphicon glyphicon-edit">編輯</i>
        </a>
        <a class="btn btn-lg"
           asp-page="./Delete"
           asp-route-bookId="@Model.Id">
            <i class="glyphicon glyphicon-trash">刪除</i>
        </a>
    </div>

</div>