@page "{bookId:int?}"
@model AspNetCore.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


<form method="post">
    <input type="hidden" asp-for="Book.Id" />
    <div class="form-group">
        <label>書名</label>
        <input asp-for="Book.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>作者</label>
        <input asp-for="Book.Author" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

